@model PeoplesSource.Models.ChangePassword
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}
@using (Html.BeginForm("ChangePasswordDone", "Account", FormMethod.Post, new { id = "ChangePasswordForm" }))
{
    <div class="section" style="margin-top: 0px !important; padding: 0!important">
        <div class="section-wrapper">
            <div class="form-div">
                <div class="form left">
                    <div class="formSpace">
                        <div id="ValidationSummary"></div>
                        <div class="one">
                            <label>Current Password<span class="validationform">*</span></label><br />
                            @Html.PasswordFor(m => m.OldPassword, new { @Class = "cpwtxt" })
                        </div>
                        <div class="one">
                            <label>New Password<span class="validationform">*</span></label>
                            @Html.PasswordFor(m => m.NewPassword, new { @Class = "cpwtxt" })
                        </div>
                        <div class="one">
                            <label>Confirm Password<span class="validationform">*</span></label><br />
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @Class = "cpwtxt" })
                        </div>


                        <div class="button">
                            @*<a href="@Url.Action("ProfilePage", "Account")" style="float: none!important; background: none!important">
                                <input type="button" class="subButton" value="Submit" /></a>*@
                            <input type="submit" value="Submit" />

                            <input type="button" value="Cancel" onclick="cancelChngPwd()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#ChangePasswordForm').submit(function (e) {
            var form = $(this);
            if ($(this).validate().form()) {
                $.post('@Url.Action("ChangePasswordDone", "Account")',
                            $(this).serialize(),
                            function (data) {
                                if (data.success == false) {
                                    alert("Current password is not correct.");
                                } else {
                                    HandleSaveResponseWithRedirect(data, form);
                                }
                            });
            }
            e.preventDefault();
        });
    });

    function cancelChngPwd() {
        BootstrapDialog.closeAll();
    }


</script>